# Игнорировать все .log-файлы
*.log

# Игнорировать папку build
# build/

# Игнорировать файл в корне
# /config.json

# Игнорировать все .log-файлы в любой папке
# **/*.log

# Не игнорировать main.log (исключение)
!main.log